*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 30vh;
    background-color: #FFD680;
    display: flex;
    align-items: center;
}

.square1{
    height: 20vh;
    aspect-ratio: 1/1;
    background-color: #FFC86D;
    margin-right: 18%;
    margin-left: 14%;
}

.textBox1{
    height: 20vh;
    width: inherit;
    margin-right: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title1{
        background-color: #FFB959;
        width: 50%;
        height: 12%;
    }
    .text{
        width: 100%;
        height: 6%;
        background-color: #FFFFFF;
    }
    .short{
        width: 50%;
    }
}

main{
    height: 60vh;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
    padding-left: 14%;
    padding-right: 14%;
    .row{
        height: 20vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .square{
            height: 20vh;
            aspect-ratio: 1/1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .rectangle{
                width: 100%;
                height: 10%;
            }
            .smallSquare{
                width: 50%;
                aspect-ratio: 1/1;
                margin-bottom: 25%;
            }
        }
        .blue{
            background-color: #C4EDF1;
            .rectangle{
                background-color: #ABE0E5;
            }
            .smallSquare{
                background-color: #ABE0E5;
            }
        }
        .red{
            background-color: #FF9978;
            .rectangle{
                background-color: #F68360;
            }
            .smallSquare{
                background-color: #F68360;
            }
        }
        .yellow{
            background-color: #FFD680;
            .rectangle{
                background-color: #FFC86D;
            }
            .smallSquare{
                background-color: #FFC86D;
            }
        }
    }
}

footer{
    width: 100%;
    height: 20vh;
    background-color: #E6E5E5;
    padding-left: 14%;
    padding-right: 14%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .text{
        background-color: #e6e5e5;
        aspect-ratio: 1/1;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{
            background-color: #cccbca;
            height: 15%;
            width: 100%;
            margin-top: 25%;
            margin-bottom: 15%;
        }
        .body{
            width: 100%;
            height: 5%;
            background-color: #FFFFFF;
            margin-bottom: 7.2%;
        }
        .short{
            width: 50%;
        }
    }
}